*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
  font-size: 15px;
}


header{
  background-color: #3160e0;
  background-image: url(./Assets/img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}

.header-top{
  padding-bottom: 30px;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}
  

.row{
  display: flex;

}

.header-top .row{
  align-items: center;
  justify-content: space-between;
}

.header-top .row .column ul a{
  padding: 0 35px;
  font-size: 13px;
  color: white;
}

.header-top .row .column ul a:hover{
  text-decoration: underline;
}

.row .column{
  padding: auto;
  margin: auto;

}
.header-bottom{
  text-align: center;
  max-width: 800px;

}

.button{  
  display: inline-block;
  padding: 10px;
  border-radius: 30px;
  background-color: white;
}

.button a:hover{
 text-decoration: underline;
}

.box{
  width: 600px;
}
.header-top .row .login{
  padding: 3px;
  font-size: 14px;
}

.button.column a{
  font-size: 14px;
}

.button.column.browser{
  background-color: #25262a;
}

.button.column.browser a{
  color: white;
  font-size: 14px;
}

.row .column ul{
  display: flex;
}

.header-top .row ul a{
  padding: 0 15px;

}
.logo{
  width: 120px;
  height: 30px;
}

.header-bottom .row{
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.header-bottom .title{
  font-size: 38px;
  font-weight: 900;
  padding-bottom: 10px;
}

.header-bottom .content{
  font-size: 14px;
  padding-bottom: 10px;
  font-weight: 500;
}

.feature{
  display: flex;
  margin: auto;
  padding: 80px 120px;
  justify-content: center;
}

main .feature .text{
  width: 25%;
}

main .feature .image{
  width: 55%;
}

main .gray{
  background-color: #f6f6f6;
  
}
.feature-img{
  max-width: 100%;
}

main .feature span{
  font-size: 38px;
  font-weight: 900; 
}

.feature .text p{
  font-size: 14px;
  line-height: 25px;
  font-weight: 500; 
  margin-top: 8px;
}



section.feature.gray.cta{
  padding-bottom: 30px;
  text-align: center;
  flex-direction: column;
}

section.feature.gray.cta p{
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 40px;
  padding-top: 30px;
  background-image: url(/Assets/img/stars.svg);
  background-size: 531px 49px ;
  background-repeat: no-repeat;
  background-position: center;
}

section.feature.gray.cta .button{
  background-color: #8da2e2;
  padding-left: 30px;
  padding-right: 30px;
}


section.feature.gray.cta .button a{
  color: white;
  font-size: 16px;
  font-weight: 600;
}

footer{
  padding: 30px 160px;
  background-color: #23272a;
}

.footer-bottom{
  margin-top: 20px;
}

footer section{
  display: flex;
}

footer .footer-top{
  padding: 20px;
  height: 400px;
  border-bottom: 1px solid darkgray;
}

.footer-top .social span{
  font-size: 26px;
  font-weight: 800;
  color: #688ed5;
  padding-bottom: 20px;

}

.footer-top ul a{
  color: white;
}

.footer-top .flag-span span{
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.footer-top .flag-span span img{
  display: inline-block;
  margin-right: 4px;
  padding-top: 5px;
  width: 28px;
  height: 18px;
}




.footer-top .link .column h5{
  color: #688ed5;
  padding-bottom: 12px;
}

.footer-top .social ul li{
  display: inline-block;
  margin-right: 4px;
  padding-top: 10px;

}
.footer-top .link .column ul a{
  font-size: 12px;
  color: white;
  font-weight: 600;
}

.footer-top .link .column ul a:hover{
  text-decoration: underline;
}


footer .footer-top .container.link{
  width: 15%;
  padding: 20px;
}

footer .footer-top .container.social{
  width: 20%;
  padding: 10px;
}

footer .footer-bottom{
  width: 100%;
  justify-content: space-between;

}
.footer-bottom .button{
  background-color: #688ed5;
  font-size: 12px;
  color: white;

}
.footer-bottom .button:hover{
  text-decoration: underline;
}